@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Recruitment";
}
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
    </div>
</section>
}