@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Recruitment";
}
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
    </div>
</section>
}
<style>
            .pic
            {
                height:450px;
                width:80%;
            }
            .pic:hover 
            {
            	width:100%;
                height:900px;
            }
        </style>
<div style="height:650px; width: 30%; float: left;">
                        <p style="font-family: 'Segoe UI';font-size: large; text-decoration: underline;">Study Material:- </p>
                        <marquee direction="up">

                        <ul style="text-align: center">
                            <li>Venn Diagrams</li>
                            <br /><br/>
                            <li>Blood Relations</li>
                            <br /><br/>
                            <li>Profit and Loss</li>
                            <br /><br/>
                            <li>Data Structures</li>
                            <br /><br/>
                            <li>OOPS with C++</li>
                            <br /><br/>
                        </ul>
                            </marquee>
                    </div>
                <div style="height:450px; width: 30%; float: left">
                        <p style="font-family: 'Segoe UI';font-size: large; text-decoration: underline;">Pool Campus Recruitments:- </p>
                        <marquee direction="up">

                        <ul style="text-align: center">
                            <li>20-Oct-2015: VTU - Belagavi Cumpus</li>
                            <br /><br/>
                            <li>02-Nov-2015: H.M.S Institute of Technology</li>
                            <br /><br/>
                            <li>15-Nov-2015: ABC College Of Engineering</li>
                            <br /><br/>
                        </ul>
                            </marquee>
                    </div>
                <div style="height:450px; width: 40%; float: right">
                        <p style="font-family: 'Segoe UI';font-size: large; text-decoration: underline;">Sample Résumé:- </p>
                        <img class="pic"src="~/img/sample-resume-format.jpg"  alt="Refresh Please!!">
                        