@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Softwares";
}
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
    </div>
</section>
}
<p style="font-family: 'Segoe UI'; font-weight: bold; font-size: large; ">List of websites to get free softwares...</p>
                <style>
                a:hover,visited,active,link
                    {
                        text-decoration:none;
                    }
                </style>
                <div style=" height:300px; width: 30%; float: left; ">
                    <ol class="number">
                        <li class="one" style=" font-family: 'Segoe UI'; "><a href="http://www.dreamspark.com" style="font-size: 18px;">Microsoft DreamSpark</a></li>
                        <br/>
                        <li class="two" style=" font-family: 'Segoe UI'; "><a href="http://www.donationcoder.com"style="font-size: 18px;">Donation Coder</a></li>
                        <br />
                        <li class="three" style=" font-family: 'Segoe UI' ;"><a href="http://www.softpedia.com" style="font-size: 18px;">Softpedia</a></li>
                        <br />
                        <li class="four" style=" font-family: 'Segoe UI' ;"><a href="http://www.ubuntu.com" style="font-size: 18px;">Ubuntu</a></li>
                        <br />
                        <li class="five" style=" font-family: 'Segoe UI' ;"><a href="http://developer.android.com/" style="font-size: 18px;">Android Studio</a></li>
                        <br />
                        <li class="five" style=" font-family: 'Segoe UI' ;"><a href="http://www.sublimetext.com/2" style="font-size: 18px;">Sublime Text Editor</a></li>
                    </ol>
                </div>
                <div>
                <!--<div style=" height:100px; width: 25%; float:right; ">-->
                    <a href="https://www.kali.org/downloads" ><img src="~/img/kali.jpg" alt="Kali Linux" width="150px" height="100px" style="float: left; position: relative;left: 175px;" ></a>
                <!--</div>-->
               
                
                <!--<div style=" height:100px; width: 25%; float: right; ">-->
                   <a href="https://www.apachefriends.org/xampp-files/5.6.12/xampp-win32-5.6.12-0-VC11-installer.exe" ><img src="~/img/xampp.png" alt="Xampp Server" width="150px" height="100px" style="position: relative;float: right;right: 175px;"></a>
                </div>
                <br>  